{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="contacts_line">
    <img src="{% static 'img/moonpie_line_1.png' %}" width="100%">
    <div class="contacts_line_text"> Контакты</div>
</div>
<div class="contacts_text1">
    <div class="contacts_col1">E-mail :</div>
    <div class="contacts_col2"> afdfadf@mail.ru</div>
</div>
<div class="contacts_text2">
    <div class="contacts_col1">Телефон :</div>
    <div class="contacts_col2"> +7 989 324 43 34</div>
</div>
<div class="contacts_text3">
    <div class="contacts_col1">График работы : </div>
    <div class="contacts_col2">9.00 - 21.00</div>
</div>
<div class="contacts_social">Наши соц.сети</div>
<div class="contacts_social_link"></div>

{% endblock content %}