{% extends 'base.html' %}

{% load static %}

{% block content %}

<img class="block_1" src="{% static 'img/fabrics_first_block.png' %}" width="100%">
<div class="fabrics_block_1_line">
    <img src="{% static 'img/moonpie_line_1.png' %}" width="100%">
    <div class="fabrics_block_1_line_text">О тканях</div>
</div>
<p class="fabrics_block_1_main_text">Любое изделие MOONPIE можно заказать в понравившемся цвете из предложенной палитры. Наша ткань достаточно износостойкая, плотная, но в ней не жарко.
Она держит форму, подчеркивая фигуру.
Приятная к телу.
Эластичная, не сковывает движения. Практически не мнется.</p>
<div class="fabrics_block_2_for_head">
    <div class="fabrics_block_2_head">Палитра MOONPIE</div>
</div>
<div class="colors">
    <div class="colors_pics">
        <img class="colors_pics_ten" src="{% static 'img/fabrics_myta.png' %}" width="240" height="663">
        <div class="colors_text1">Мята</div>
    </div>
    <div class="colors_pics">
        <img class="colors_pics_ten" src="{% static 'img/fabrics_grafit.png' %}" width="240" height="663">
        <div class="colors_text2">Графит</div>
    </div>
    <div class="colors_pics">
        <img class="colors_pics_ten" src="{% static 'img/fabrics_temnosiney.png' %}" width="240" height="663">
        <div class="colors_text3">Тёмно&#8209;синий</div>
    </div>
    <div class="colors_pics">
        <img class="colors_pics_ten" src="{% static 'img/fabrics_beliy.png' %}" width="240" height="663">
        <div class="colors_text4">Белый</div>
    </div>
    <div class="colors_pics">
        <img class="colors_pics_ten" src="{% static 'img/fabrics_goluboi.png' %}" width="240" height="663">
        <div class="colors_text5">Голубой</div>
    </div>
</div>
<div class="fabrics_block_3_for_head">
    <div class="fabrics_block_3_head">Состав ткани</div>
</div>
<div class="fabrics_block_3">
    <div class="fabrics_col1">
        <p class="fabrics_block_3_text">72% полиэстер <br> 22% вискоза <br> 6% спандекс <br> Плотность ткани: 300г</p>
    </div>
    <div class="fabrics_col2">
        <img src="{% static 'img/fabrics_block_3.png' %}" width="351" height="532">
    </div>
</div>
<div class="fabrics_block_4_for_head">
    <div class="fabrics_block_4_head">Уход за тканью</div>
</div>
<div class="fabrics_block_4_text">
    <p>Максимальная температура стирки 40 градусов <br> Гладить при температуре не выше 150 градусов <br> Не отбеливать ткань <br> Стирать с вещами в одной цветовой гамме <br></p>
</div>
<div class="third_block">
    <img src="{% static 'img/moonpie_block_line.png' %}" width="100%">
    <div class="third_block_text">Мы все очень разные, но нас объединяет одно - выбор профессии. И для каждой найдётся форма по душе, фигуре и по вкусу.</div>
    <img class="otstup" src="{% static 'img/moonpie_block_line.png' %}" width="100%">
</div>
<div class="fabrics_block_5">
    <div class="fabrics_block_5_text">С любовью и заботой к вам и вашей деятельности, MOONPIE</div>
</div>
<div class="brand_but_block_5">
    <a class="brand_block_5_but" href="#">Перейти в каталог</a>
</div>

{% endblock content %}